<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <title>Document</title>
    </head>
    <body>
        <div class="well tab-content">
            <div class="tab-pane active" id="put-object-form">
                <form
                    action="/eventupdate/0"
                    data-method="PUT"
                    enctype="multipart/form-data"
                    class="form-horizontal"
                    novalidate=""
                >
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Title
                            </label>

                            <div class="col-sm-10">
                                <input
                                    name="title"
                                    class="form-control"
                                    type="text"
                                    value=""
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Category
                            </label>

                            <div class="col-sm-10">
                                <input
                                    name="category"
                                    class="form-control"
                                    type="text"
                                    value=""
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Special
                            </label>

                            <div class="col-sm-10">
                                <input
                                    name="special"
                                    class="form-control"
                                    type="text"
                                    value=""
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Place
                            </label>

                            <div class="col-sm-10">
                                <textarea
                                    name="place"
                                    class="form-control"
                                ></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Description
                            </label>

                            <div class="col-sm-10">
                                <textarea
                                    name="description"
                                    class="form-control"
                                ></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"> Date </label>

                            <div class="col-sm-10">
                                <input
                                    name="date"
                                    class="form-control"
                                    type="date"
                                    value=""
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Organizer
                            </label>

                            <div class="col-sm-10">
                                <input
                                    name="organizer"
                                    class="form-control"
                                    type="text"
                                    value=""
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Partners
                            </label>

                            <div class="col-sm-10">
                                <input
                                    name="partners"
                                    class="form-control"
                                    type="text"
                                    value=""
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Image
                            </label>

                            <div class="col-sm-10">
                                <input name="image" type="file" value="" />
                            </div>
                        </div>

                        <div class="form-actions">
                            <button
                                class="btn btn-primary js-tooltip"
                                title=""
                                data-original-title="Make a PUT request on the Event Api Update resource"
                            >
                                PUT
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="tab-pane" id="put-generic-content-form">
                <form
                    action="/eventupdate/0"
                    data-method="PUT"
                    class="form-horizontal"
                >
                    <fieldset>
                        <div class="form-group">
                            <label
                                for="id__content_type"
                                class="col-sm-2 control-label"
                                >Media type:</label
                            >
                            <div class="col-sm-10">
                                <select
                                    name="_content_type"
                                    data-override="content-type"
                                    id="id__content_type"
                                    class="form-control"
                                >
                                    <option
                                        value="application/json"
                                        selected=""
                                    >
                                        application/json
                                    </option>

                                    <option
                                        value="application/x-www-form-urlencoded"
                                    >
                                        application/x-www-form-urlencoded
                                    </option>

                                    <option value="multipart/form-data">
                                        multipart/form-data
                                    </option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label
                                for="id__content"
                                class="col-sm-2 control-label"
                                >Content:</label
                            >
                            <div class="col-sm-10">
                                <textarea
                                    name="_content"
                                    cols="40"
                                    rows="10"
                                    data-override="content"
                                    id="id__content"
                                    class="form-control"
                                >
{
            "title": "",
            "category": "",
            "special": "",
            "place": "",
            "description": "",
            "date": null,
            "organizer": "",
            "partners": "",
            "image": null
        }</textarea
                                >
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button
                                class="btn btn-primary js-tooltip"
                                title=""
                                data-original-title="Make a PUT request on the Event Api Update resource"
                            >
                                PUT
                            </button>

                            <button
                                data-method="PATCH"
                                class="btn btn-primary js-tooltip"
                                title=""
                                data-original-title="Make a PATCH request on the Event Api Update resource"
                            >
                                PATCH
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
